{{ 'gulp-comparison-chart.css' | asset_url | stylesheet_tag }}

<style>
  .comparison-chart__content--heading--logo {
    background-color: {{  section.settings.logo_background }};
  }
  .comparison-chart__content--heading--button a{
    background-color: {{  section.settings.button_background }};
  }
</style>

<div class="comparison-chart comparison-spaced-section">
  <div class="comparison-chart__heading">
    {{ section.settings.heading }}
  </div>
  <div class="comparison-chart__content">
    <div class="comparison-chart__content--heading">
      <div class="comparison-chart__content--heading--logo" >
        <img src="{{ section.settings.logo |  img_url: "master"}}" alt="GadPrep" loading="lazy" >
      </div>
      <div class="comparison-chart__content--heading--button">
        <a href="{{section.settings.button_url}}" class="button  button--primary" >
          {{ section.settings.button_text }}
        </a>
      </div>
    </div>
    <div class="comparison-chart__items">
      <div class="comparison-chart__item left-comparison">
        <div class="comparison-chart__item--heading">
          {{ section.settings.left_heading }}
        </div>
        {% for block in section.blocks %}
          {% if block.settings.comparing_side == 'offer' %}
            <div class="comparison-chart__item--item left-item">
              <div class="comparison-chart__item--ico yes">
                <img src="{{ section.settings.left_image |  img_url: 'master'}}" alt="Do" loading="lazy" >
              </div>
              <div class="comparison-chart__item--text item--text-left">
                {{ block.settings.comparing_text }}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {{ block.settings.comparing_side }}
      <div class="comparison-chart__item right-comparison">
        <div class="comparison-chart__item--heading">
          {{ section.settings.right_heading }}
        </div>
        {% for block in section.blocks %}
          {% if block.settings.comparing_side == 'd_offer' %}
            <div class="comparison-chart__item--item right-item">
              <div class="comparison-chart__item--ico no">
                <img src="{{ section.settings.right_image |  img_url: 'master'}}" alt="Do" loading="lazy" >
              </div>
              <div class="comparison-chart__item--text item--text-right">
                {{ block.settings.comparing_text }}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="comparison-chart__content--heading--button show-mobile">
  <a href="{{section.settings.button_url}}" class="button  button--primary" >
    {{ section.settings.button_text }}
  </a>
</div>
{% schema %}
{
  "name": "Comparison Chart",
  "tag": "section",
  "class": "page-width-custom",
  "settings": [
    {
      "type": "text",
      "id": "id_section",
      "label": "ID for scroll"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "color",
      "id": "logo_background",
      "label": "Logo Background",
      "default": "#EFEFEF"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button Background",
      "default": "#DD2C5E"
    },
    {
      "type": "text",
      "id": "left_heading",
      "label": "Left Heading"
    },
    {
      "type": "text",
      "id": "right_heading",
      "label": "Right Heading"
    },
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Left Image"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "Right Image"
    }
  ],
  "blocks": [
      {
        "name": "Comparing Item",
        "type": "comparing",
        "settings": [
      {
        "type": "select",
        "id": "comparing_side",
        "label": "Variant",
        "options": [
      {
          "value": "offer",
          "label": "We offer"
      },
      {
          "value": "d_offer",
          "label": "Don't offer"
      }
        ],
          "default": "offer"
      },
      {
        "type": "richtext",
        "id": "comparing_text",
        "label": "Text"
      }
    ]
   }
  ],
  "presets": [
    {
      "name": "Comparison Chart"
    }
  ]
}
{% endschema %}
