{{ 'gulp-hero-banner-section.css' | asset_url | stylesheet_tag }}


{% assign id = section.id %}
{% assign video = section.settings.video %}
{% assign mp4 = section.settings.mp4 %}
{% assign title = section.settings.title %}
{% assign title_underline_image = section.settings.underline_image | img_url: "master" %}
{% assign description = section.settings.description %}
{% assign text_position = section.settings.text_position %}
{% assign text_align = section.settings.text_align %}
{% assign caption_background = section.settings.caption_background %}
{% assign caption_background_transparency = section.settings.caption_background_transparency %}
{% assign button_label = section.settings.button_label %}
{% assign button_link = section.settings.button_link %}



{% comment %}Set appropriate embed URL{% endcomment %}
{% if video contains 'youtube' %}
  {% assign video_set = 'youtube' %}
  {%- capture iframeURL -%}https://www.youtube.com/embed/{{video.id}}?&autoplay=1&loop=1{%- endcapture -%}
{% elsif video contains 'vimeo' %}
  {% assign video_set = 'vimeo' %}
  {%- capture iframeURL -%}https://player.vimeo.com/video/{{video.id}}?&autoplay=1&loop=1&muted=1{%- endcapture -%}
{% endif %}
{% if mp4 != blank %}
  {% assign video_set = 'source' %}
{% endif %}
<style>
  {% if section.settings.image_mobile != blank %}
  @media screen and (max-width: 990px) {
    .section--{{ section.id }}.video.hero-image__picture  {
      background: url('{{ section.settings.image_mobile | img_url: '750x' }}');
      background-size: cover;
      background-position: 50%;
    }
  }
  {% endif %}

  .section--{{ section.id }} .hero-image__overlay {
    background: linear-gradient( 180deg, rgba(51, 51, 51, 0) 0%, #333333 100%);;
    opacity: .{{section.settings.overlay_opacity}};
  }
  .section--{{ section.id }} .hero-image__title {
    color: {{section.settings.color_title}};
  }
  .section--{{ section.id }}.video.hero-image__picture  {
    background: url('{{ section.settings.image | img_url: '2000x' }}');
    background-size: cover;
  }
  .section--{{ section.id }} .hero-image__description {
    color: {{section.settings.color_text}};
  }
  .section--{{ section.id }} .hero-image__button {
    background-color: {{section.settings.background_button}};
    color: {{section.settings.color_button_text}};
  }
  .section--{{ section.id }} .hero-image__button:hover,
  .section--{{ section.id }} .hero-image__button:focus,
  .section--{{ section.id }} .hero-image__button:active {
    color: {{section.settings.color_button_text_hover}};
    {% if section.settings.background_button_hover != 'rgba(0,0,0,0)' %}
      background-color: {{section.settings.background_button_hover}};
      opacity: 1;
    {% else%}
      opacity: .7;
    {% endif %}
  }

  @media only screen and (max-width: 990px) {
    .section--{{ section.id }} .hero-image__overlay {
      max-height: 550px;
      height: 100%;
    }
  }
</style>

<section  {% if section.settings.id_section != blank %}id="{{section.settings.id_section}}"{% endif %} class="hero-image__picture  {{section.settings.image_or_video}} section--{{ section.id }}" >

  {% if section.settings.image_or_video == 'image' %}
    {% if section.settings.image_mobile != blank %}
      {% assign class_img = 'hero-image__image hero-image__image--desktop'%}
    {% else%}
      {% assign class_img = 'hero-image__image '%}
    {% endif %}

  <div {% if section.settings.id_section != blank %}id="{{section.settings.id_section}}"{% endif %} class="hero-banner__image--image">
    {% include 'image', image_src: section.settings.image, class_img: class_img %}
  </div>
    {% if section.settings.image_mobile != blank %}
      {% assign class_img = 'hero-image__image hero-image__image--mobile'%}
      <div class="hero-banner__image--image">
        {% include 'image', image_src: section.settings.image_mobile, class_img: class_img %}
      </div>
    {% endif %}
  {%- else -%}
    {% if video_set == 'youtube' %}

      <div class="hero-image__iframe-video" id="muteYouTubeVideoPlayer"></div>

      <script async="" src="https://www.youtube.com/iframe_api"></script>
      <script>
        function onYouTubeIframeAPIReady() {
          var player;
          player = new YT.Player('muteYouTubeVideoPlayer', {
            videoId: '{{video.id}}',
            width: '100%',
            height: '100%',
            playerVars: {
              autoplay: 1,
              controls: 0,
              showinfo: 0,
              modestbranding: 1,
              loop: 1,
              fs: 0,
              cc_load_policty: 0,
              iv_load_policy: 3,
              origin: 'https://vitahustle.com',
              autohide: 0
            },

            events: {
              onReady: function(e) {
                e.target.playVideo();
                player.mute();
              },
              onStateChange: function(e) {
                if (e.data == YT.PlayerState.ENDED) {
                  player.seekTo(0);
                  player.playVideo();
                }
              }
            }
          });
        }
      </script>

    {% elsif video_set == 'source' %}

      <video  class="hero-image__source-video" autoplay loop muted playsinline  preload="auto" autoplay="true" loop="true" muted="muted" {% if image %}poster="{{ section.settings.image | img_url: '1500x' }}"{% endif %} id="video-{{ section.id }}{{ block.id }}" onclick="this.paused?this.play():this.pause()" data-html5-video >
        <source src="{{mp4}}" type="video/mp4">
      </video>

    {% elsif video_set == 'vimeo' %}

      <iframe class="video-section-iframe" src="{{ iframeURL }}" style="width:100%"  frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
      </iframe>

    {% endif %}

  {% endif %}
  <div class="hero-image__overlay"></div>
  <div class="hero-image__content  caption-content align-{{ text_align }} position-{{text_position}}">
    {% if title != blank %}
      <h1 class="hero-image__title">
        {{ title }}
        {% if title_underline_image != blank %}
        <div class="hero-image__title--underline">
          <img src="{{ title_underline_image }}" alt="GradPrep" class="text-align-{{ text_align }}" >
        </div>
      {% endif %}
      </h1>
    {% endif %}
    {% if description != blank %}
      <div class="hero-image__description">
        {{ description }}
      </div>
    {% endif %}
    {% if button_label != blank %}
      <a href="{{ button_link }}" class="button button--quaternary hero-image__button">
        {{ button_label }}
      </a>
    {% endif %}
  </div>

</section>





{% schema %}
{
"name": "Hero Banner",
  "class": "video-section under-menu",
  "settings": [
    {
      "type": "text",
      "id": "id_section",
      "label": "ID for scroll"
    },
  {
  "type": "select",
  "id": "image_or_video",
  "label": "Choose image or video",
  "options": [
  {
  "value": "image",
  "label": "Image"
  },
  {
  "value": "video",
  "label": "Video"
  }
  ],
  "default": "image"
  },
  {
  "type": "video_url",
  "id": "video",
  "label": "Video link (only desktop)",
  "accept": ["youtube", "vimeo"],
  "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
  },
  {
  "type": "text",
  "id": "mp4",
  "label": "HTML5 MP4 File URL (desktop and mobile)"
  },
  {
  "type": "header",
  "content": "Content"
  },
  {
  "type": "image_picker",
  "id": "image",
  "label": "Image desktop (also used for video as a screen saver)",
  "info": "1600 x 900px recommended"
  },
  {
  "type": "image_picker",
  "id": "image_mobile",
  "label": "Image mobile (also used for video as a screen saver)"
  },
  {
  "type": "text",
  "id": "title",
  "label": "Heading"
  },
  {
  "type": "image_picker",
  "id": "underline_image",
  "label": "Underline image"
  },
  {
  "type": "richtext",
  "id": "description",
  "label": "Description"
  },
  {
  "type": "text",
  "id": "button_label",
  "label": "Button label"
  },
  {
  "type": "url",
  "id": "button_link",
  "label": "Button link"
  },
  {
  "type": "select",
  "id": "text_position",
  "label": "Text position",
  "options": [
  {
  "value": "left",
  "label": "Left"
  },
  {
  "value": "center",
  "label": "Center"
  },
  {
  "value": "right",
  "label": "Right"
  }
  ],
  "default": "center"
  },
  {
  "type": "select",
  "id": "text_align",
  "label": "Text alignment",
  "options": [
  {
  "value": "left",
  "label": "Left"
  },
  {
  "value": "center",
  "label": "Center"
  },
  {
  "value": "right",
  "label": "Right"
  }
  ],
  "default": "center"
  },
  {
  "type": "color",
  "id": "overlay_color",
  "label": {
  "en": "Overlay Color"
  },
  "default": "#000000"
  },
  {
  "type": "range",
  "id": "overlay_opacity",
  "label": {
  "en": "Overlay opacity"
  },
  "min": 0,
  "max": 100,
  "step": 1,
  "unit": {
  "en": "%"
  },
  "default": 25
  },
  {
  "type": "color",
  "id": "color_title",
  "label": {
  "en": "Title color"
  },
  "default": "#ffffff"
  },
  {
  "type": "color",
  "id": "color_text",
  "label": {
  "en": "Text color"
  },
  "default": "#ffffff"
  },
  {
  "type": "paragraph",
  "content": "Colors for button"
  },
  {
  "type": "color",
  "id": "background_button",
  "label": {
  "en": "Background button"
  },
  "default": "#de3463"
  },
  {
  "type": "color",
  "id": "color_button_text",
  "label": {
  "en": "Color button text"
  },
  "default": "#000000"
  },
  {
  "type": "paragraph",
  "content": "Colors for hover button"
  },
  {
  "type": "color",
  "id": "background_button_hover",
  "label": {
  "en": "Background button hover"
  },
  "default": "transparent"
  },
  {
  "type": "color",
  "id": "color_button_text_hover",
  "label": {
  "en": "Color button text hover"
  },
  "default": "#ffffff"
  }
  ],
  "presets": [{
  "name": "Hero Banner",
  "category": "Home sections"
  }]
}

{% endschema %}