{% if section.blocks.size > 0 %}
  <div {% if section.settings.id_section != blank %}id="{{section.settings.id_section}}"{% endif %} class="half-img-half-text">
    <div class="half-img-half-text__container">
      {% for block in section.blocks %}
        {% if block.type == 'image' %}
            {% if block.settings.image != blank %}
            {% assign image =  block.settings.image %}
              <div class="half-img-half-text__block half-img-half-text__block--image">
                <img class="half-img-half-text__image" src="{{ image | img_url: '700x500'}}" alt="{{ image.alt }}" loading = "lazy">
              </div>
            {% endif %}
        {% elsif block.type == 'content' %}
          {% if block.settings.title != blank or block.settings.description != blank %}
            <div class="half-img-half-text__block half-img-half-text__block--content">
              <div class="half-img-half-text__content" style="justify-content: {{ section.settings.content_vertical_alignment}}; max-width: {{section.settings.content_max_width | append: 'px' }}">
                {% if block.settings.title != blank %}
                  <h2 class="half-img-half-text__title">{{block.settings.title | remove: "<p>" | remove: "</p>"}}</h2>
                {% endif %}
                {% if block.settings.description != blank %}
                  <div class="half-img-half-text__description">{{block.settings.description}}</div>
                {% endif %}
                {% if block.settings.button_text != blank and  block.settings.button_link != blank  %}
                  <a href="{{block.settings.button_link}}" class="button half-img-half-text__button">{{block.settings.button_text}}</a>
                {% endif %}                
              </div>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Half Img | Half Text",
  "tag": "section",
  "class": "section-half-img-half-text",
  "settings": [
    {
      "type": "text",
      "id": "id_section",
      "label": "ID for scroll"
    },
    {
      "type": "select",
      "id": "content_vertical_alignment",
      "label": "Content Vertical alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Bottom"
        },
        {
          "value": "space-between",
          "label": "Space Between"
        },
        {
          "value": "space-around",
          "label": "Space Around"
        }
      ],
      "default": "flex-start"
    },
    {
      "type": "range",
      "id": "content_max_width",
      "min": 400,
      "max": 600,
      "step": 5,
      "unit": "px",
      "label": "Content max width",
      "default": 445
    }
  ],
  "max_blocks": 2,
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Half Img | Half Text"
    }
  ]
}
{% endschema %}
