{{ 'gulp-image-overlay.css' | asset_url | stylesheet_tag }}
  
<div {% if section.settings.id_section != blank %}id="{{section.settings.id_section}}"{% endif %} class="image-overlay_container">
    <img class="image_wrapper desktop" src="{{ section.settings.image | img_url: '2200x' }}">
    {% if section.settings.keep-image%}
        <img class="image_wrapper mobile" src="{{ section.settings.image | img_url: '2200x' }}">
    {% else %}
    <img class="image_wrapper mobile" src="{{section.settings.image_mobile | img_url: '2200x' }}">
    {%endif%}
    <div class="text_wrapper">
        <h3 class="title">{{section.settings.overlay-title}}</h3>
        <p class="main-text"> {{section.settings.overlay-text}} </p>
        <a  class="button button--start" href="{{section.settings.button_url}}">{{section.settings.button-text}}</a>
    </div>
</div>
<style> 
    
    .image-overlay_container {
        background: -webkit-linear-gradient(transparent, #333);
        height: 500px;
        position: relative;
    }

    .button--start{ 
        background-color: {{section.settings.button_background_color}};
        color: {{section.settings.button_font_color}};
    }

    .button-image:hover {
        color: {{section.settings.button_font_color}};
    }
    
  
</style>

{% schema %}
{
	"name": "Image Overlay",
	"tag": "section",
	"settings": [
        {
          "type": "text",
          "id": "id_section",
          "label": "ID for scroll"
        },
		{
			"type": "image_picker",
			"id": "image",
			"label": "Main Image"
		},
        {
            "type": "checkbox",
            "id": "keep-image",
            "label": "Keep same image for Desktop and Mobile",
            "default": true
        },
        {
			"type": "image_picker",
			"id": "image_mobile",
			"label": "Image for Mobile"
		},
        {
            "type": "checkbox",
            "id": "circle",
            "label": "Enable Circle Icon",
            "default": true
        },
        {
			"type": "richtext",
			"id": "overlay-title",
			"label": "Main Title"
		},
		{
			"type": "text",
			"id": "overlay-text",
			"label": "Main Text"
		},
        {
			"type": "text",
			"id": "button-text",
			"label": "Button Text"
		},
        { 
            "type": "url",
            "id": "button_url",
			"label": "Button url"
		},
        { 
            "type": "color",
            "id": "button_background_color",
			"label": "Button background color"
		},
        { 
            "type": "color",
            "id": "button_font_color",
			"label": "Button font color"
		}
	],
    "presets":[
        {
           "name":"Image Overlay"
        }
     ]
}
{% endschema %}