{{ 'testimonial-section.css' | asset_url | stylesheet_tag }}

<div {% if section.settings.id_section != blank %}id="{{section.settings.id_section}}"{% endif %} class="image-with-text {% if section.settings.full_width %}image-with-text--full-width{% else %}page-width{% endif %} color-scheme-background-1 section-width-{{ section.settings.block_width }} custom-section-space custom-section-space-background">
  <div class="image-with-text__grid color-{{ section.settings.color_scheme }} grid grid--gapless grid--1-col grid--2-col-tablet gradient{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %} {% if section.settings.layout_mobile == 'text_top' %} image-with-text__grid--mobile--reverse{% endif %} custom-image-with-text">
    <div class="grid__item">
      <div class="image-with-text__media image-with-text__media--{{ section.settings.height }} {% if section.settings.image != blank %}media{% else %}image-with-text__media--placeholder placeholder{% endif %}"
        {% if section.settings.height == 'adapt' and section.settings.image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}
      >
        {%- if section.settings.image != blank -%}
          <img
                  class="image-with-text__media--image"
            srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
              {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
              {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
              {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
              {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w,{%- endif -%}
              {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
              {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
            src="{{ section.settings.image | img_url: '1500x' }}"
            
            alt="{{ section.settings.image.alt | escape }}"
            loading="lazy"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.height }}"
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
    </div>
    <div class="grid__item custom-text-grid">
      <div class="image-with-text__content image-with-text__content--{{ section.settings.height }} custom-padding{% if section.settings.layout == 'image_first' %} custom-image-first{% endif %}">
        {%- for block in section.blocks -%}
          {% case block.type %}
            {%- when 'heading' -%}
              <div style="text-align: {{ block.settings.mobile_text_align }}; font-size: {{ block.settings.heading-font-size }}px !important;" class="image-with-text__heading h1 strong-background-image heading-mobile custom-heading" {{ block.shopify_attributes }}>
                {{ block.settings.heading }}
              </div>
              <div class="image-with-text__heading h1 heading-desktop custom-heading" style="font-size: {{ block.settings.heading-font-size }}px !important; width: 100%;" {{ block.shopify_attributes }}>
                {{ block.settings.heading }}
              </div>
            {%- when 'text' -%}
              <div class="custom-image-with-text__text custom-text" style="font-size: {{ block.settings.custom-text-size }}px !important;">{{ block.settings.text }}</div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
      <div class="testimonial-section{% if section.settings.layout == 'image_first' %} custom-image-first{% endif %}">
        <div class="testimonial-section-image">
          {% if section.settings.testimonial_image %}
          <img class="testimonial-image" src="{{ section.settings.testimonial_image | img_url }}" alt="Testimonial Image"/>
          {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'testimonial-image' }}
          {%- endif -%}
        </div>
        <div class="testimonial-content">
          <p class="testimonial-heading">
            {{ section.settings.testimonial-heading }}
          </p>
          <p>{{ section.settings.testimonial-text }}</p>
        </div>
      </div>
      {%- for block in section.blocks -%}
          {% case block.type %}
            {%- when 'button' -%}
              {%- if block.settings.testimonial-section-cta-button != blank -%}
                <a style="background-color: {{ block.settings.testimonial-section-cta-button-color }}" {% if block.settings.testimonial-section-cta-button-link != blank %} href="{{ block.settings.testimonial-section-cta-button-link }}"{% endif %} class="button {% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %} custom-primary-button"{% if block.settings.testimonial-section-cta-button-link == blank %} aria-disabled="true"{% endif %} {{ block.shopify_attributes }}>
                  {{ block.settings.testimonial-section-cta-button | escape }}
                </a>
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
    </div>
  </div>
</div>



<style>
  .image-with-text__grid--mobile--reverse .image-with-text__content--adapt {padding-bottom: 40px;}
  .image-with-text__media img {
    object-fit: cover!important;
  }
</style>
{% schema %}
{
  "name": "Testimonial",
  "class": "spaced-section spaced-section--full-width custom-section-space",
  "settings": [
    {
      "type": "text",
      "id": "id_section",
      "label": "ID for scroll"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "select",
      "id": "block_width",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "normal",
      "label": "Section width"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
        
      ],
      "default": "text_first",
      "label": "t:sections.image-with-text.settings.layout.label",
      "info": "t:sections.image-with-text.settings.layout.info"
    },
    {
      "type": "select",
      "id": "layout_mobile",
      "options": [
        {
          "value": "image_top",
          "label": "Image Top"
        },
        {
          "value": "text_top",
          "label": "Text Top"
        }
      ],
      "default": "image_top",
      "label": "Mobile layout",
      "info": "t:sections.image-with-text.settings.layout.info"
    },
    {
      "type": "image_picker",
      "id": "testimonial_image",
      "label": "Testimonial Image"
    },
    {
      "type": "text",
      "id": "testimonial-heading",
      "default": "Username",
      "label": "Testimonial Heading"
    },
    {
      "type": "richtext",
      "id": "testimonial-text",
      "default": "<p>User's Testimonial</p>",
      "label": "Testimonial Content"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading Here",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "mobile_text_align",
          "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
        ],
          "default": "center",
          "label": "Mobile text align"
        }, 
        {
          "type": "range",
          "id": "heading-font-size",
          "min": 16,
          "max": 96,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 26
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "range",
          "id": "custom-text-size",
          "min": 8,
          "max": 96,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 16
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "testimonial-section-cta-button",
          "default": "Get Prepped + TEST",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "testimonial-section-cta-button-link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "color",
          "id": "testimonial-section-cta-button-color",
          "label": "Color",
          "default": "#de3463"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial",
      "category": "Custom",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
